<div class="home-section" id="section1">
    <p>First tab with slider</p>
</div>
<div class="home-section" id="section3">
    <div class="content"></div>
    <app-next-race-card></app-next-race-card>
</div>
<div class="home-section" id="section2">
    <div class="driver-section">
        <div class="podium">
            <div class="podium-card"></div>
            <div class="podium-card" id="n1" ></div>
            <div class="podium-card"></div>
        </div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    
    </div>
    <div class="constructor-section">
        <div class="podium">
            <div class="podium-card"></div>
            <div class="podium-card" id= "n1"></div>
            <div class="podium-card"></div>
        </div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
        <button id="full-standings-button">Full standings</button>
    </div>
    
</div>


