<div class="row">
    <div class="col-2 text-center" style="max-width: 80px;">
      <img
        src="assets/flags/{{ race.Circuit.Location.country }}.png"
        alt=""
        style="width: 60px; height: auto;"
        class="mr-4 ml-auto"
      />
    </div>
    <div class="col">
      <h4>
        <span class="badge badge-success">Round {{ race.round }}</span> -
        {{ race.raceName }}
      </h4>
      <h5 class="font-italic">{{ race.Circuit.circuitName }}</h5>
    </div>
    <div class="col text-right">
      <h4>{{ race.date | date: "dd/MM/yyyy" }}</h4>
    </div>
  </div>
